@font-face {
    font-family: 'eurofurence-eurof35';
    src: url("../font/eurof35.ttf");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

/*Navigation Bar:*/

.nav-bar {
    width: 100%;
    box-shadow: inset 0 -6px 0 #1e1e1e;
    background-color: #292929

}

.container {
    width: 980px;
    margin: 0 auto;
    display: block;
}

.nav-bar .container {
    display: flex;
    justify-content: space-between;    
}

.flex-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    display: flex;
    color: #ffffff;
    font-family: 'eurofurence-eurof35', Fallback, sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

.logo-b {
    letter-spacing: -0.8px;
}

.logo-dot {
    color: #58c93a;
    letter-spacing: -0.8px;
}

.menu {
    display: inline-block;
}

.menu-item {
    float: left;
    display: inline-block;
    color: #ffffff;
    text-shadow: 0 1px 0 #1e1e1e;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 700;
    width: 132px;
    line-height: 130px;
    text-align: center;
    box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d;
    cursor: pointer;
}

.menu-item:hover {
    color: #58c93a;
}

.menu-item.active {
    color: #58c93a;
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a;
}

/*Posts:*/
.posts .container {
    border: 1px solid #e1e0e0;
}
